body {
  font-family: Helvetica;
}

.container {
  max-width: 760px;
  margin-top: 35px;
}

.header h3 {
  margin-top: 8px;
}

.footer {
  clear: both;
}

a {
    color: #5badf0;
}

a:hover {
  color: #4CA1E7;
  cursor: pointer;
}


.total {
  border-bottom: 2px dotted #ddd;
  font-size:18px;
  margin: 20px 0;
}

.billInfo {
  display: block;
}
.table-details {
  font-size: 12px;
}

.table-details tr td:last-of-type,
.table-details tr th:last-of-type {
  text-align: right;
}

.bill-section {
  border-bottom: 1px dotted #ddd;
  margin: 16px 0;
}

.table>tbody>tr:first-of-type >td {
  border-top: none;
}


